alabaster==0.7.12
asn1crypto==0.24.0
atomicwrites==1.4.0
attrs==19.3.0
autopep8==1.5.2
avro==1.9.2
Babel==2.8.0
backports.functools-lru-cache==1.6.1
backports.ssl-match-hostname==3.7.0.1
cachetools==3.1.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
codecov==2.1.3
commonmark==0.9.1
configparser==4.0.2
contextlib2==0.6.0.post1
coverage==5.1
cryptography==2.1.4
dnspython==1.16.0
docker==4.2.0
docutils==0.16
email-validator==1.1.1
enum34==1.1.10
fastavro==0.21.24
Flask==1.1.2
Flask-Login==0.5.0
Flask-SQLAlchemy==2.4.3
Flask-WTF==0.14.2
funcsigs==1.0.2
future==0.18.2
futures==3.3.0
google-auth==1.16.0
httplib2==0.12.0
idna==2.9
imagesize==1.2.0
importlib-metadata==1.6.0
ipaddress==1.0.23
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
keyring==10.6.0
keyrings.alt==3.0
kubernetes==11.0.0
Markdown==3.1.1
MarkupSafe==1.1.1
mock==3.0.5
more-itertools==5.0.0
nose==1.3.7
numpy==1.16.6
oauthlib==3.1.0
packaging==20.4
pathlib2==2.3.5
pick==0.6.7
pluggy==0.13.1
protobuf==3.11.3
py==1.8.1
pyarrow==0.16.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycrypto==2.6.1
pydot==1.4.1
Pygments==2.5.2
pygobject==3.26.1
PyMySQL==0.9.3
pyparsing==2.4.7
pytest==4.6.10
pytest-cov==2.9.0
python-dateutil==2.8.1
pytz==2020.1
pyxdg==0.26
PyYAML==5.3.1
randomize==0.14
recommonmark==0.6.0
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.1
scandir==1.10.0
SecretStorage==2.3.1
six==1.15.0
snowballstemmer==2.0.0
Sphinx==1.8.5
sphinx-markdown-tables==0.0.14
sphinxcontrib-websupport==1.1.2
SQLAlchemy==1.3.17
typing==3.7.4.1
urllib3==1.25.9
wcwidth==0.1.9
websocket-client==0.57.0
Werkzeug==1.0.1
WTForms==2.3.1
zipp==1.2.0
