{% extends "base.html" %}
{% set active_page = "setting" %}
{% block content %}
<head>

  <script type="text/javascript">
    var count = 0;
    function add1(){
      count=count+1;
      edge_id='edge'+count.toString();

      edge_name='Edge Server'+count.toString()+':';
      var newEle=document.createElement("p");
      var newText=document.createTextNode(edge_name);
      newEle.appendChild(newText);
      document.getElementsByName("Hidden1")[0].value=count;

      var e = document.createElement('input');
      tr = document.createElement('tr');
      e.setAttribute('name',edge_id);
      e.setAttribute('type', 'text');
      e.style.width= '275px';
      e.style.height= '35px';
      e.style.borderRadius= '2%';
      e.style.margin= '10px';
      e.style.border= '1px solid #BEBEBE';

	  var btn1 = document.getElementById("org");
	  document.getElementById('org').appendChild(tr);
      btn1.insertBefore(newEle,null);
      btn1.insertBefore(e,null);

    }
  </script>

</head>
<form action="{{ url_for('setting') }}" method="post" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div class="panel panel-default">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
      <table>
        <tr>
          <td><b>Kubernetes Master IP:</b> {{ form.ip(size=31, class="form-control") }}</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
      <tr>
          <td><b>Edge Servers IP:</b><input type="button" id="new" onclick="add1();" value="+" style="width: 30px; height: 30px; border-radius:50%;border: none">
          <input id="Hidden1" name="Hidden1" type="hidden" value="" />
          </td>
      </tr>
      </table>
      <table>
      <tr>
        <div id="org"></div>
      </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
      </table>
      <tr>
        <td>
          <button type="submit" class="btn btn-info" name="do_action" value="upload" onclick="$('#loading').show();$('#hiding').hide();">Submit</button>
        </td>
      </tr>

      </table>
    </div>
  </div>

</form>

<div id="hiding">
  {% if succeed %}
    <div class="alert alert-success" role="alert">
      <b>OK:</b> Succeeded to reset the server ip </b>.
    </div>
  {% endif %}
</div>
{% endblock %}
